[submodule "unity-simulation-pack"]
	path = unity-simulation-pack
	url = https://github.com/CGBecker/unity-simulation-pack.git
[submodule "VHACD"]
	path = VHACD
	url = https://github.com/rorygames/VHACD.git
